node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


# for mac
.DS_Store
*/.DS_Store
*/**/.DS_Store